* {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

a:hover h2 {
    transition: all 2s;
    color: rgb(0, 255, 42);
}

.link a:hover h2 {
    color: #ff1900;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    background: -o-linear-gradient(to right top, #65dfc9, #6cdbeb);
    background: -moz-linear-gradient(to right top, #65dfc9, #6cdbeb);
    background: -webkit-linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass {
    background-color: #fff;
    min-height: 80vh;
    width: 60%;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: -o-linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: -moz-linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: -webkit-linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    z-index: 2;
    display: flex;
}

.circle1,
.circle2 {
    position: absolute;
    background-color: aliceblue;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    z-index: 1;
}

.circle1 {
    background: linear-gradient(to right top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    background: -o-linear-gradient(to right top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    background: -moz-linear-gradient(to right top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    background: -webkit-linear-gradient(to right top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    right: 13%;
    top: 1%;
}

.circle2 {
    background: linear-gradient(to right top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(to right top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(to right top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to right top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    left: 13%;
    bottom: 1%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: -o-linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: -moz-linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background: -webkit-linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.link {
    display: flex;
    margin: 5px 0rem;
    padding: 5px 5px;
    align-items: center;
}

.link h2 {
    padding: 0rem 2rem;
}

.games {
    flex: 2;
}

.pro {
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    background: -o-linear-gradient(to right top, #65dfc9, #6cdbeb);
    background: -moz-linear-gradient(to right top, #65dfc9, #6cdbeb);
    background: -webkit-linear-gradient(to right top, #65dfc9, #6cdbeb); */
    background-color: #e64a4a;
    border-radius: 2rem;
    color: #fff;
    padding: 1rem;
    position: relative;
}

h1 {
    color: #5a016a;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    opacity: 0.8;
}

h2,
p {
    font-size: 19px;
    color: #222;
    font-weight: 600;
    opacity: 0.8;
}

h3 {
    font-size: 17px;
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

.user img {
    width: 67px;
    height: 67px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px #222;
}

.pro img {
    background-color: rgb(0, 204, 255);
    border-radius: 100%;
    position: absolute;
    top: 10%;
    right: 10%;
}

.pro h2 {
    width: 50%;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
}

.link img {
    width: 45px;
    height: 45px;
}

#pro {
    width: 70px;
    height: 70px;
}

.card img {
    width: 70px;
    height: 70px;
}


/* Games  */

.status {
    margin-bottom: 25px;
}

.status h1 {
    margin-left: 20px;
}

.status input {
    margin-top: 10px;
    height: 25px;
    width: 50%;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 3rem;
    border-bottom: 1px solid #ff1900;
    text-align: center;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.games {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    background: -webkit-linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    background: -moz-linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    background: -o-linear-gradient(to left top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.9);
    position: relative;
}

#progress-bar-assassinscreed,
#progress-bar-spiderman,
#progress-bar-warcraft {
    content: "";
    width: 0%;
    height: 10px;
    background: #e64a4a;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: 1px solid darkblue;
}

#progress-bar-assassinscreed {
    width: 62%;
}

#progress-bar-spiderman {
    width: 38%;
}

#progress-bar-warcraft {
    width: 85%;
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.percentage {
    font-weight: bold;
    font-size: 22px;
}

#pro-mini {
    width: 40px;
    height: auto;
    background-color: #ff1900;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 5px;
    z-index: 2;
    display: none;
}

.pro-mini {
    width: 50px;
    height: 120px;
    position: fixed;
    bottom: 15px;
    right: 5px;
    z-index: 2;
    display: none;
}

.pro-mini a {
    display: none;
}

.pro-mini:hover a {
    display: block;
    text-align: center;
    color: #ffe600;
    background-color: #690000;
    border-radius: 12px;
    text-decoration: none;
}

.user-mini h3 {
    background-color: #001e44;
    color: #ffe600;
    width: 60px;
    padding: 6px;
    border-radius: 20px;
    display: none;
}

.user-mini:hover h3 {
    display: block;
}

.user-mini {
    width: 0px;
    height: auto;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 2;
    display: none;
}

.links-mini {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 20%;
    margin: 0px 0;
    z-index: 2;
    display: none;
}

.links-mini img {
    margin-left: 10px;
    width: 40px;
}

.links-mini a {
    text-decoration: none;
}

.links-mini h2 {
    padding: 4px;
    text-align: center;
    background-color: #fa0202;
    border-radius: 20px;
    color: #ffe600;
    display: none;
}

.links-mini .link-mini:hover h2 {
    display: block;
}


/* Responsive */

@media screen and (max-width:890px) {
    .glass {
        width: 80%;
    }
    .circle1 {
        right: 2%;
        top: 0;
    }
    .circle2 {
        left: 2%;
        bottom: 0;
    }
}

@media screen and (max-width:641px) {
    .glass {
        width: 95%;
    }
    .status input {
        width: 70%;
    }
}

@media screen and (max-width:539px) {
    h1 {
        margin-top: 50px;
    }
    .circle1 {
        display: none;
    }
    {
        display: none;
    }
    .dashboard {
        display: none;
    }
    #pro-mini {
        display: block;
    }
    .user-mini {
        display: block;
    }
    .pro-mini {
        display: block;
    }
    .links-mini {
        display: flex;
    }
}

@media screen and (max-width:340px) {
    .status input {
        width: 90%;
    }
    body {
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
        background: -o-linear-gradient(to right top, #65dfc9, #6cdbeb);
        background: -moz-linear-gradient(to right top, #65dfc9, #6cdbeb);
        background: -webkit-linear-gradient(to right top, #65dfc9, #6cdbeb);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .glass {
        width: 100%;
    }
}